### Gradle ###
.gradle
build/
!gradle/wrapper/gradle-wrapper.jar
!**/src/**/build/

### IntelliJ IDEA ###
.idea/
*.iws
*.iml
*.ipr
out/
!**/src/**/out/

.run/

### Eclipse ###
.apt_generated
.classpath
.eclipse/
.factorypath
.project
.settings
.springBeans
.sts4-cache
bin/
!**/src/**/bin/

### VS Code ###
.vscode/

### Mac OS ###
.DS_Store

### Minecraft Modding ###
run/
!**/src/**/run/
**/src/generated/**/.cache/
repo/
!**/src/**/repo/
# eclipse
bin
*.launch
.metadata

# idea
out
.idea

# gradle
build

# other
eclipse
run
run-data/
runs
run-data

repo
/module/ImaginaryCraft/src/generated/
/.ai/
.vscode/*
.history
.trae

generated/

# idea
*.log

# other
*.hprof
*.nphd
*.ref
*.map

#vscode
.history/
/.continue/
/.kotlin/

.lingma/
.proxyai/
.kotlin/
.lingma
.proxyai
.kotlin
/tmp_eyelib_extract/io/github/tt432/eyelib/client/animation/Animation.java
/io/github/tt432/eyelib/capability/component/AnimationComponent.java
/tmp_eyelib_extract/io/github/tt432/eyelib/capability/component/AnimationComponent.java
/io/github/tt432/eyelib/client/animation/AnimationEffects.java
/tmp_eyelib_extract/io/github/tt432/eyelib/client/manager/AnimationManager.java
/io/github/tt432/eyelib/client/render/bone/BoneRenderInfoEntry.java
/tmp_eyelib_extract/io/github/tt432/eyelib/client/render/bone/BoneRenderInfoEntry.java
/io/github/tt432/eyelib/client/render/bone/BoneRenderInfos.java
/tmp_eyelib_extract/io/github/tt432/eyelib/client/render/bone/BoneRenderInfos.java
/tmp_eyelib_extract/io/github/tt432/eyelib/client/animation/bedrock/controller/BrAcState.java
/io/github/tt432/eyelib/client/animation/bedrock/BrAnimation.java
/tmp_eyelib_extract/io/github/tt432/eyelib/client/animation/bedrock/BrAnimation.java
/tmp_eyelib_extract/io/github/tt432/eyelib/client/animation/bedrock/controller/BrAnimationController.java
/io/github/tt432/eyelib/client/animation/bedrock/BrAnimationEntry.java
/tmp_eyelib_extract/io/github/tt432/eyelib/client/animation/bedrock/BrAnimationEntry.java
/io/github/tt432/eyelib/client/animation/BrAnimator.java
/tmp_eyelib_extract/io/github/tt432/eyelib/client/animation/BrAnimator.java
/io/github/tt432/eyelib/client/animation/bedrock/BrBoneAnimation.java
/tmp_eyelib_extract/io/github/tt432/eyelib/client/animation/bedrock/BrBoneAnimation.java
/io/github/tt432/eyelib/client/animation/bedrock/BrBoneKeyFrame.java
/tmp_eyelib_extract/io/github/tt432/eyelib/client/animation/bedrock/BrBoneKeyFrame.java
/tmp_eyelib_extract/io/github/tt432/eyelib/client/animation/bedrock/BrLoopType.java
/tmp_eyelib_extract/io/github/tt432/eyelib/capability/EntityBehaviorData.java
/tmp_eyelib_extract/io/github/tt432/eyelib/capability/EntityStatistics.java
/tmp_eyelib_extract/io/github/tt432/eyelib/capability/ExtraEntityData.java
/tmp_eyelib_extract/io/github/tt432/eyelib/Eyelib.java
/io/github/tt432/eyelib/client/model/GlobalBoneIdHandler.java
/tmp_eyelib_extract/io/github/tt432/eyelib/client/model/GlobalBoneIdHandler.java
/tmp_eyelib_extract/io/github/tt432/eyelib/client/manager/Manager.java
/tmp_eyelib_extract/io/github/tt432/eyelib/capability/component/ModelComponent.java
/tmp_eyelib_extract/io/github/tt432/eyelib/molang/MolangScope.java
/tmp_eyelib_extract/io/github/tt432/eyelib/molang/MolangValue.java
/io/github/tt432/eyelib/capability/RenderData.java
/tmp_eyelib_extract/io/github/tt432/eyelib/capability/RenderData.java
